@charset "UTF-8";
/* -------------------tag reset----------------- */
html{
	height: 100%;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}


/* -------------------tag cascade----------------- */
.hidden{
	display: none;
}

.width-24{
	width: 24px;
}


/* -------------------.header----------------- */
.header{
		height: 45px;
		width: 100%;
		position: fixed;
		background: #ffffff;
		border-bottom: 1px solid #666666;
}
	.header > h1{
		font-size: 14px;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}


.main-menu{
		position: relative;
		top: -45px;
	}
		.main-menu ul{
			display: flex;
			justify-content: space-between;
		}
		
			.main-menu li,
			.main-menu li{
				width: 45px;
				height: 45px;
				display: flex;
				justify-content: center;
			}
			
				.main-menu li img{
					width: 24px;
					height: 24px;
					align-self: center;
					
				}
.menu{
	position: relative;
	top:-45px;
	left: -5px;
}

	.main-menu-btn{
		display: flex;
		justify-content: space-between;
	}
		.main-menu-btn > li{
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
		}
		
			.main-menu-btn > li > img{
				width: 36px;
				height: 36px;
				align-self: center;
				
			}
			
			.sub-menu > li{
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
		}
		
			.sub-menu > li > img{
				width: 36px;
				height: 36px;
				align-self: center;
				
			}

